.media-internal {
  width: 100%;
  height: 100%;
}

/* Custom styling for the internal preview player to show only play/pause and volume controls */
.media-internal .media-slider,
.media-internal .media-time-controls,
.media-internal .media-button--playback-rate,
.media-internal .media-button--captions,
.media-internal .media-button--cast,
.media-internal .media-button--pip,
.media-internal .media-button--fullscreen {
  display: none !important;
}
